################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LOFractalsGPU/v16
/LOFractalsGPU/x64/Release
/x64/Release
/LOFractalsGPU/x64/Debug
/x64/Debug
